body{
	background-color:rgb(40,118,224);
	color:rgb(32,199,198)
}

div{
}
.a{
   background-color:rgb(34,56,78);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.b{
   background-color:rgb(65,98,123);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.c{
   background-color:rgb(240,170,12);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.d{
   background-color:rgb(215,233,45);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.e{
   background-color:rgb(43,32,70);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.f{
   background-color:rgb(243,255,12);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.g{
   background-color:rgb(232,124,49);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.h{
   background-color:rgb(239,95,163);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.i{
   background-color:rgb(99,99,99);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.j{
   background-color:rgb(231,125,224);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.k{
   background-color:rgb(112,232,34);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.l{
   background-color:rgb(254,254,219);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.m{
   background-color:rgb(123,124,125);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.n{
   background-color:rgb(191,192,193);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.o{
   background-color:rgb(167,168,169);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.p{
   background-color:rgb(132,123,167);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.q{
   background-color:rgb(55,155,55);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.r{
   background-color:rgb(12,13,14);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.s{
   background-color:rgb(1,2,3);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.t{
   background-color:rgb(128,256,256);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.u{
   background-color:rgb(203,205,209);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.v{
   background-color:rgb(156,235,189);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.w{
   background-color:rgb(182,192,202);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.x{
   background-color:rgb(12,22,32);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.y{
   background-color:rgb(99,89,109);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.z{
   background-color:rgb(119,129,139);
height:30px;
width: 30px;
border: solid 3px black;
padding:5px
}
.last{
	color:rgb(186,132,212);
	padding: 10px;
	background: linear-gradient(#fe4354,cyan,#ffa500)
}